In [2]:
import pandas as pd

df= pd.read_csv('/content/Dataset .csv')

df.columns.tolist() # loading and displaying the dataset

['Restaurant ID',
 'Restaurant Name',
 'Country Code',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [3]:
df.isnull().sum()  # checking for missing values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:
cc = df['Cuisines'].mode()[0]
print(cc)

North Indian

In [5]:
df['Cuisines'] = df['Cuisines'].fillna(cc).str.lower()  # filling the missing values

In [6]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [7]:
df['Has Table booking'] = df['Has Table booking'].apply(lambda x: 1 if x == 'Yes' else 0)
df['Has Table booking'].head(3)  # transforming the has table booking

0    1
1    1
2    1
Name: Has Table booking, dtype: int64

In [8]:
cuisine = 'north indian'  # filtering and sorting based on the conditions
max_cost = 500

filtered = df[df['Cuisines'].str.contains(cuisine.lower())]
filtered = filtered[filtered['Average Cost for two'] <= max_cost]

top_restaurants = filtered.sort_values(by='Aggregate rating', ascending=False).head(3)
print(top_restaurants[['Restaurant Name', 'Cuisines', 'Average Cost for two', 'Aggregate rating']])

         Restaurant Name                     Cuisines  Average Cost for two  \
637      Sheroes Hangout  cafe, north indian, chinese                     0
580         Punjab Grill         indian, north indian                   330
619  Rajasthan Al Malaki         indian, north indian                    60

     Aggregate rating
637               4.9
580               4.9
619               4.8